<!-- views/partials/header.ejs -->
<nav class="navbar navbar-expand-lg navbar-light bg-primary" style="border-bottom: 3px solid orange;">
  <a class="navbar-brand" href="/">EJS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link text-white" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/contact">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/services">Services</a>
      </li>
    </ul>
  </div>
</nav>