<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

<header>
    <% include ../partials/header %>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col-md bg-info">    
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
        </div>
        <div class="col-md bg-warning">        
        <h3>Look I'm A Sidebar!</h3>
        </div>
        <div class="col-md bg-info">        
        <h3>Look I'm A Sidebar!</h3>
        </div>
    </div>
</div>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>